In [9]:
import pandas as pd
from math import sqrt

In [13]:
nurse_log_df = pd.read_csv("../../output/nurseLog.csv")

In [14]:
display(nurse_log_df)

      time  nurse    x     y  event           action  patient
0     0.00      0  9.0  17.0      3     assign event      0.0
1     3.00      0  6.0  17.0      3          move to      0.0
2     6.00      0  6.0  14.0      3          move to      0.0
3     6.00      0  6.0  14.0      3   unassign event      0.0
4     6.00      0  6.0  14.0      1     assign event      0.0
5     6.08      0  6.0  12.0      1          move to      0.0
6    10.08      0  6.0   8.0      1          move to      0.0
7    12.08      0  6.0   6.0      1          move to      0.0
8    15.08      0  6.0   3.0      1          move to      0.0
9    18.08      0  3.0   3.0      1          move to      0.0
10   33.08      0  3.0   3.0      1  time at patient      0.0
11   33.08      0  3.0   3.0      1     finish event      0.0
12   41.00      0  3.0   3.0      2     assign event      0.0
13   51.00      0  3.0   3.0      2  time at patient      0.0
14   51.00      0  3.0   3.0      2     finish event      0.0
15   71.00      0  3.0   3.0      3     assign event      0.0
16   81.00      0  3.0   3.0      3  time at patient      0.0
17   81.00      0  3.0   3.0      3     finish event      0.0
18  101.00      0  3.0   3.0      4     assign event      0.0
19  111.00      0  3.0   3.0      4  time at patient      0.0
20  111.00      0  3.0   3.0      4     finish event      0.0
21  131.00      0  3.0   3.0      0     assign event      0.0
22  136.00      0  3.0   3.0      0  time at patient      0.0
23  136.00      0  3.0   3.0      0     finish event      0.0
24  136.00      0  3.0   3.0      8     assign event      NaN
25  139.00      0  6.0   3.0      8          move to      NaN
26  142.00      0  6.0   6.0      8          move to      NaN
27  144.00      0  6.0   8.0      8          move to      NaN
28  148.00      0  6.0  12.0      8          move to      NaN
29  153.00      0  6.0  17.0      8          move to      NaN
30  156.00      0  9.0  17.0      8          move to      NaN
31  156.00      0  9.0  17.0      8     finish event      NaN
32    5.00      1  9.0  17.0      5     assign event      1.0
33    8.00      1  6.0  17.0      5          move to      1.0
34   13.00      1  6.0  12.0      5          move to      1.0
35   17.00      1  6.0   8.0      5          move to      1.0
36   19.00      1  6.0   6.0      5          move to      1.0
37   22.00      1  6.0   3.0      5          move to      1.0
38   25.00      1  3.0   3.0      5          move to      1.0
39   35.00      1  3.0   3.0      5  time at patient      1.0
40   35.00      1  3.0   3.0      5     finish event      1.0
41   21.00      1  3.0   3.0      6     assign event      2.0
42   31.00      1  3.0   3.0      6  time at patient      2.0
43   31.00      1  3.0   3.0      6     finish event      2.0
44   31.00      1  3.0   3.0      7     assign event      NaN
45   34.00      1  6.0   3.0      7          move to      NaN
46   37.00      1  6.0   6.0      7          move to      NaN
47   39.00      1  6.0   8.0      7          move to      NaN
48   43.00      1  6.0  12.0      7          move to      NaN
49   48.00      1  6.0  17.0      7          move to      NaN
50   51.00      1  9.0  17.0      7          move to      NaN
51   51.00      1  9.0  17.0      7     finish event      NaN

In [16]:
def nurse_dst_walked(nurse_id, nurse_df):
    move_rows = nurse_df[(nurse_df['nurse'] == nurse_id) & (nurse_df['action'] == "move to")].index.tolist()
    total_dst = 0
    for row in move_rows:
        move_start_row = nurse_df.loc[row - 1]
        move_end_row = nurse_df.loc[row]
        start_x = move_start_row["x"]
        end_x = move_end_row["x"]
        start_y = move_start_row["y"]
        end_y = move_end_row["y"]
        distance = sqrt((end_x - start_x) ** 2 + (end_y - start_y) ** 2)
        total_dst += distance

    
    return total_dst

In [12]:
def nurse_time_walked(nurse_id, nurse_df):
    move_rows = nurse_df[(nurse_df['nurse'] == nurse_id) & (nurse_df['action'] == "move to")].index.tolist()
    total_time = 0
    for row in move_rows:
        move_start_row = nurse_df.loc[row - 1]
        move_end_row = nurse_df.loc[row]
        start_time = move_start_row["time"]
        end_time = move_end_row["time"]
        time_diff = end_time - start_time
        total_time += time_diff
    return total_time

In [17]:
print(nurse_time_walked(0, nurse_log_df), nurse_dst_walked(0, nurse_log_df), nurse_time_walked(1, nurse_log_df), nurse_dst_walked(1, nurse_log_df))

38.08 40.0 40.0 40.0

In [19]:
nurse_log_df[(nurse_log_df['nurse'] == 0) & (nurse_log_df['action'] == "move to")]

      time  nurse    x     y  event   action  patient
1     3.00      0  6.0  17.0      3  move to      0.0
2     6.00      0  6.0  14.0      3  move to      0.0
5     6.08      0  6.0  12.0      1  move to      0.0
6    10.08      0  6.0   8.0      1  move to      0.0
7    12.08      0  6.0   6.0      1  move to      0.0
8    15.08      0  6.0   3.0      1  move to      0.0
9    18.08      0  3.0   3.0      1  move to      0.0
25  139.00      0  6.0   3.0      8  move to      NaN
26  142.00      0  6.0   6.0      8  move to      NaN
27  144.00      0  6.0   8.0      8  move to      NaN
28  148.00      0  6.0  12.0      8  move to      NaN
29  153.00      0  6.0  17.0      8  move to      NaN
30  156.00      0  9.0  17.0      8  move to      NaN