In [46]:
import pandas as pd
from math import sqrt
import numpy as np

In [2]:
nurse_log_df = pd.read_csv("../../output/nurseLog.csv")

In [3]:
display(nurse_log_df)

     time  nurse    x     y  event           action  patient
0     0.0      0  9.0  17.0      3     assign event      0.0
1     3.0      0  6.0  17.0      3          move to      0.0
2     6.0      0  6.0  14.0      3          move to      0.0
3     6.0      0  6.0  14.0      3   unassign event      0.0
4     6.0      0  6.0  14.0      1     assign event      0.0
5     8.0      0  6.0  12.0      1          move to      0.0
6    12.0      0  6.0   8.0      1          move to      0.0
7    14.0      0  6.0   6.0      1          move to      0.0
8    17.0      0  6.0   3.0      1          move to      0.0
9    20.0      0  3.0   3.0      1          move to      0.0
10   35.0      0  3.0   3.0      1  time at patient      0.0
11   35.0      0  3.0   3.0      1     finish event      0.0
12   41.0      0  3.0   3.0      2     assign event      0.0
13   51.0      0  3.0   3.0      2  time at patient      0.0
14   51.0      0  3.0   3.0      2     finish event      0.0
15   71.0      0  3.0   3.0      3     assign event      0.0
16   81.0      0  3.0   3.0      3  time at patient      0.0
17   81.0      0  3.0   3.0      3     finish event      0.0
18  101.0      0  3.0   3.0      4     assign event      0.0
19  111.0      0  3.0   3.0      4  time at patient      0.0
20  111.0      0  3.0   3.0      4     finish event      0.0
21  131.0      0  3.0   3.0      0     assign event      0.0
22  136.0      0  3.0   3.0      0  time at patient      0.0
23  136.0      0  3.0   3.0      0     finish event      0.0
24  136.0      0  3.0   3.0      8     assign event      NaN
25  139.0      0  6.0   3.0      8          move to      NaN
26  142.0      0  6.0   6.0      8          move to      NaN
27  144.0      0  6.0   8.0      8          move to      NaN
28  148.0      0  6.0  12.0      8          move to      NaN
29  153.0      0  6.0  17.0      8          move to      NaN
30  156.0      0  9.0  17.0      8          move to      NaN
31  156.0      0  9.0  17.0      8     finish event      NaN
32    5.0      1  9.0  17.0      5     assign event      1.0
33    8.0      1  6.0  17.0      5          move to      1.0
34   13.0      1  6.0  12.0      5          move to      1.0
35   17.0      1  6.0   8.0      5          move to      1.0
36   19.0      1  6.0   6.0      5          move to      1.0
37   22.0      1  6.0   3.0      5          move to      1.0
38   25.0      1  3.0   3.0      5          move to      1.0
39   35.0      1  3.0   3.0      5  time at patient      1.0
40   35.0      1  3.0   3.0      5     finish event      1.0
41   21.0      1  3.0   3.0      6     assign event      2.0
42   31.0      1  3.0   3.0      6  time at patient      2.0
43   31.0      1  3.0   3.0      6     finish event      2.0
44   31.0      1  3.0   3.0      7     assign event      NaN
45   34.0      1  6.0   3.0      7          move to      NaN
46   37.0      1  6.0   6.0      7          move to      NaN
47   39.0      1  6.0   8.0      7          move to      NaN
48   43.0      1  6.0  12.0      7          move to      NaN
49   48.0      1  6.0  17.0      7          move to      NaN
50   51.0      1  9.0  17.0      7          move to      NaN
51   51.0      1  9.0  17.0      7     finish event      NaN

In [34]:
event_log_df = pd.read_csv("../../output/eventLog.csv")

In [35]:
display(event_log_df)

     time  event         action  patient              type  request_level
0     6.0      1  planned start      0.0           request            3.0
1     6.0      1   actual start      0.0           request            3.0
2    35.0      1            end      0.0           request            3.0
3    30.0      2  planned start      0.0           request            2.0
4    41.0      2   actual start      0.0           request            2.0
5    51.0      2            end      0.0           request            2.0
6     0.0      3  planned start      0.0              plan            NaN
7     0.0      3   actual start      0.0              plan            NaN
8     6.0      3          pause      0.0              plan            NaN
9    71.0      3         resume      0.0              plan            NaN
10   81.0      3            end      0.0              plan            NaN
11   20.0      4  planned start      0.0              plan            NaN
12  101.0      4   actual start      0.0              plan            NaN
13  111.0      4            end      0.0              plan            NaN
14    5.0      0  planned start      0.0           request            1.0
15  131.0      0   actual start      0.0           request            1.0
16  136.0      0            end      0.0           request            1.0
17  136.0      8  planned start      NaN  return_to_office            NaN
18  136.0      8   actual start      NaN  return_to_office            NaN
19  156.0      8            end      NaN  return_to_office            NaN
20    5.0      5  planned start      1.0              plan            NaN
21    5.0      5   actual start      1.0              plan            NaN
22   35.0      5            end      1.0              plan            NaN
23   21.0      6  planned start      2.0              plan            NaN
24   21.0      6   actual start      2.0              plan            NaN
25   31.0      6            end      2.0              plan            NaN
26   31.0      7  planned start      NaN  return_to_office            NaN
27   31.0      7   actual start      NaN  return_to_office            NaN
28   51.0      7            end      NaN  return_to_office            NaN

In [19]:
def row_diff(row_num: int, df: pd.DataFrame, col_name: str):
    #calculates difference between items in col_name in df on rows row_num and the one before it
    #the column must be of a numerical type
    if row_num < 1:
        raise Exception("Row_num must be at least 1 (second row)")
    start_row = df.loc[row_num - 1]
    end_row = df.loc[row_num]
    start_item = start_row[col_name]
    end_item = end_row[col_name]
    return end_item - start_item

In [20]:
def nurse_dst_walked(nurse_id, nurse_df):
    move_rows = nurse_df[(nurse_df['nurse'] == nurse_id) & (nurse_df['action'] == "move to")].index.tolist()
    total_dst = 0
    total_dst2 = 0
    for row in move_rows:
        x_dst = row_diff(row, nurse_df, "x")
        y_dst = row_diff(row, nurse_df, "y")
        distance = sqrt(x_dst ** 2 + y_dst ** 2)
        total_dst += distance
    
    return total_dst

In [22]:
def nurse_time_walked(nurse_id, nurse_df):
    move_rows = nurse_df[(nurse_df['nurse'] == nurse_id) & (nurse_df['action'] == "move to")].index.tolist()
    total_time = 0
    for row in move_rows:
        total_time += row_diff(row, nurse_df, "time")
    return total_time

In [23]:
def nurse_time_at_patient(nurse_id, patient_id, nurse_df: pd.DataFrame):
    #assuming the df is sorted by nurse_id first and time second
    time_rows = nurse_df[(nurse_df['nurse'] == nurse_id) & (nurse_df['patient'] == patient_id) & (nurse_df['action'] == "time at patient")].index.tolist()
    total_time = 0
    for row in time_rows:
        total_time += row_diff(row, nurse_df, "time")
    return total_time

print(nurse_time_at_patient(0, 0, nurse_log_df))

50.0

In [24]:
print(nurse_time_walked(0, nurse_log_df), nurse_dst_walked(0, nurse_log_df), nurse_time_walked(1, nurse_log_df), nurse_dst_walked(1, nurse_log_df))

40.0 40.0 40.0 40.0

In [42]:
display(event_log_df)

     time  event         action  patient              type  request_level
0     6.0      1  planned start      0.0           request            3.0
1     6.0      1   actual start      0.0           request            3.0
2    35.0      1            end      0.0           request            3.0
3    30.0      2  planned start      0.0           request            2.0
4    41.0      2   actual start      0.0           request            2.0
5    51.0      2            end      0.0           request            2.0
6     0.0      3  planned start      0.0              plan            NaN
7     0.0      3   actual start      0.0              plan            NaN
8     6.0      3          pause      0.0              plan            NaN
9    71.0      3         resume      0.0              plan            NaN
10   81.0      3            end      0.0              plan            NaN
11   20.0      4  planned start      0.0              plan            NaN
12  101.0      4   actual start      0.0              plan            NaN
13  111.0      4            end      0.0              plan            NaN
14    5.0      0  planned start      0.0           request            1.0
15  131.0      0   actual start      0.0           request            1.0
16  136.0      0            end      0.0           request            1.0
17  136.0      8  planned start      NaN  return_to_office            NaN
18  136.0      8   actual start      NaN  return_to_office            NaN
19  156.0      8            end      NaN  return_to_office            NaN
20    5.0      5  planned start      1.0              plan            NaN
21    5.0      5   actual start      1.0              plan            NaN
22   35.0      5            end      1.0              plan            NaN
23   21.0      6  planned start      2.0              plan            NaN
24   21.0      6   actual start      2.0              plan            NaN
25   31.0      6            end      2.0              plan            NaN
26   31.0      7  planned start      NaN  return_to_office            NaN
27   31.0      7   actual start      NaN  return_to_office            NaN
28   51.0      7            end      NaN  return_to_office            NaN

In [43]:
display(event_log_df)

     time  event         action  patient              type  request_level
0     6.0      1  planned start      0.0           request            3.0
1     6.0      1   actual start      0.0           request            3.0
2    35.0      1            end      0.0           request            3.0
3    30.0      2  planned start      0.0           request            2.0
4    41.0      2   actual start      0.0           request            2.0
5    51.0      2            end      0.0           request            2.0
6     0.0      3  planned start      0.0              plan            NaN
7     0.0      3   actual start      0.0              plan            NaN
8     6.0      3          pause      0.0              plan            NaN
9    71.0      3         resume      0.0              plan            NaN
10   81.0      3            end      0.0              plan            NaN
11   20.0      4  planned start      0.0              plan            NaN
12  101.0      4   actual start      0.0              plan            NaN
13  111.0      4            end      0.0              plan            NaN
14    5.0      0  planned start      0.0           request            1.0
15  131.0      0   actual start      0.0           request            1.0
16  136.0      0            end      0.0           request            1.0
17  136.0      8  planned start      NaN  return_to_office            NaN
18  136.0      8   actual start      NaN  return_to_office            NaN
19  156.0      8            end      NaN  return_to_office            NaN
20    5.0      5  planned start      1.0              plan            NaN
21    5.0      5   actual start      1.0              plan            NaN
22   35.0      5            end      1.0              plan            NaN
23   21.0      6  planned start      2.0              plan            NaN
24   21.0      6   actual start      2.0              plan            NaN
25   31.0      6            end      2.0              plan            NaN
26   31.0      7  planned start      NaN  return_to_office            NaN
27   31.0      7   actual start      NaN  return_to_office            NaN
28   51.0      7            end      NaN  return_to_office            NaN

In [47]:
def patient_time_waiting(patient_id, request_level=None):
    if request_level is None:
        request_events = event_log_df[(event_log_df['patient'] == patient_id) & (event_log_df['type'] == 'request')]
    else: 
        request_events = event_log_df[(event_log_df['patient'] == patient_id) & (event_log_df['type'] == 'request') & (event_log_df['request_level'] == request_level)]
    event_times = []
    total_time = 0
    for _, event in request_events.groupby('event'):
        planned_start = event[event['action'] == 'planned start']['time']
        end_time = event[event['action'] == 'end']['time']
        wait_time = end_time.values[0] - planned_start.values[0]
        total_time += wait_time
        event_times.append(wait_time)
    return total_time, event_times

print(patient_time_waiting(0))
print(np.average(patient_time_waiting(0)[1]))

(np.float64(181.0), [np.float64(131.0), np.float64(29.0), np.float64(21.0)])
60.333333333333336